*.pt
*.pyc
data/FashionMNIST
__pycache__
.ipynb_checkpoints
!model/models/*
model/models/checkpoint.pt
model/models/checkpoint_backup.pt
data/leftImg8bit/test
data/leftImg8bit/train
data/leftImg8bit/val